BAOZHI_RAG_APP_NAME=Baozhi RAG Service
BAOZHI_RAG_APP_ENV=local
BAOZHI_RAG_DEBUG=true
BAOZHI_RAG_VERSION=0.1.0
BAOZHI_RAG_LOG_LEVEL=INFO
BAOZHI_RAG_UPLOAD_ROOT_DIR=data/uploads
BAOZHI_RAG_DOC_CHUNK_SIZE=800
BAOZHI_RAG_DOC_CHUNK_OVERLAP=150
BAOZHI_RAG_DOC_CONVERT_TEMP_DIR=data/tmp/converted
