__pycache__/
*.py[cod]
*.pyd
*.so
.Python
.coverage
.coverage.*
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
.idea/
.vscode/
build/
dist/
htmlcov/
pip-wheel-metadata/
site/
uv.lock.bak
*.log
.env

